{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{{ pagedown.include_pagedown() }}
 {% endblock %}

{% block content %}

<body>
    <br>
    <br>
    <br>
      <div class="row">
        <br>
        <br>
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <h1 style="color:chocolate;">Get the best blog here</h1>
        <h3>Help me improve your interactions<br>by sending a feedback or contact me</h3>
        <button class="btn btn-outline-success"><a class="nav-link" href="{{url_for('auth.register')}}">Get Started</a></button> <a class="btn btn-primary btn-lg" href="/subscribe">Subscribe</a>

      </div>
      <div class="col-md-6">
          <img src="{{url_for('static',filename='./pro.jpg')}}" alt="" width="350" class="rounded-circle" alt="avatar">
      </div>
      </div>
    </div>
     <br>
     <br>
     <br>

  <div class="container text-center">
    <div class="card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXiSq1CctxeJqihR7kI1rA0wahtzoLsvM1XcNK0bUvN5dHUDKocg')">
    <h4 style="text-align:center;">{{quote_author}}</h4>
    <h3>{{quote}}</h3>
    </div>
  </div>

  <br>
  <br>
  <div class="container-fluid social text-center">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">
          <i class="fab fa-facebook fa-3x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/sir_rotich/">
          <i class="fab fa-instagram fa-3x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/sirrotich">
          <i class="fab fa-github fa-3x"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="bg-white mx-auto max-w-sm shadow-lg rounded-lg overflow-hidden">
    <div class="sm:flex sm:items-center px-6 py-4">
      <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="{{url_for('static',filename='./pro.jpg')}}" alt="">
      <div class="text-center sm:text-left sm:flex-grow">
        <div class="mb-4">
          <p class="text-xl leading-tight">Titus Rotich</p>
          <p class="text-sm leading-tight text-grey-dark">Junior fullStack developer</p>
        </div>
        <div>
          <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">Follow</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer" style="background-color: lightblue;">
    <h4><marquee>Sir Titus @copyright 2019</marquee></h4>
  </div>

</body>
{% endblock%}