{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
 {% endblock %}
{% block content %}

<body>
  
    <div class="container">
      <br>
      <br>
      <br>
      <div class="row">
        <br>
        <br>
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <br>
        <h1 style="color:chocolate;">Get the best blog here</h1>
        <h3>Help me improve your interactions<br>by sending a feedback or contact me</h3>
        <button class="btn btn-outline-success"><a class="nav-link" href="{{url_for('auth.login')}}">View Blogs</a></button> <a class="btn btn-primary btn-lg" href="/subscribe">Subscribe</a>

      </div>
      <div class="col-md-6">
          <img src="{{url_for('static',filename='./pp.jpg')}}" alt="" width="350" class="rounded-circle" alt="avatar">
      </div>
      </div>
    </div>
     <br>
     <br>
     <br>

  <div class="container text-center">
    <div class="card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXiSq1CctxeJqihR7kI1rA0wahtzoLsvM1XcNK0bUvN5dHUDKocg')">
    <h4 style="text-align:center;">{{quote_author}}</h4>
    <h3>{{quote}}</h3>
    </div>
  </div>

  <br>
  <br>


 <div class="row">
    <br>
    <br>

    
  <div class="card-deck"> 
    <div class="col-md-4" >
    <div class="card h-25">
    <div class="card border-success">
      <div class="card text-center">
      <div class="card-header">Movies</div>
      <div class="card-body text-info">
        <h5 class="card-title">Movie Hub</h5>
        <p class="card-text">The most incredible thing to do when bored is to watch a movie</p>
        <a href="/blogposts">Add Pitch</a>
      </div>
      </div>
    </div>
    
    </div>
    </div>
   
    <div class="col-md-4">
    <div class="card border-success">
      <div class="card text-center">
      <div class="card-header">Tech</div>
      <div class="card-body text-info">
        <h5 class="card-title">Code Hub</h5>
        <p class="card-text">The future will only be rescuired through lines of code</p>
        
      </div>
      </div>
    </div>
    </div>
    

    <div class="col-md-4">
    <div class="card border-success">
      <div class="card text-center">
        <div class="card text-center">
      <div class="card-header">Life</div>
      <div class="card-body text-info">
        <h5 class="card-title">Human life</h5>
        <p class="card-text">A human will continue survive for generations depending on human themselves</p>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
</body>
{% endblock%}